body{
  background-color: rgb(11,26,51);
  color:white;
}

a{
  text-decoration: none;
  color:white
}

.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:1.3rem;
}


.nav_bar .nav_items{
padding:15px;
font-weight: bold;
font-size: 1.2rem;

}
.nav_bar .nav_items:hover{
  border-bottom: 3px solid yellow;
}

/* home section */

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .right .img{
  display: flex;
  justify-content: center ;
  align-items: center;
}